---
import { profileConfig } from "../config";
import { url } from "../utils/url-utils";
const currentYear = new Date().getFullYear();
---

<footer class="py-8 text-center text-sm">
  <div class="mb-4">
    <script is:inline src="https://www.busuanzi.cc/static/3.6.9/busuanzi.min.js"/>
    <span>本页访问<span id="busuanzi_page_pv" class="text-primary">加载中</span>次 | 
    总访<span id="busuanzi_site_pv" class="text-primary">加载中</span>次 | 
    访客<span id="busuanzi_site_uv" class="text-primary">加载中</span>人</span><br>
    <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener" class="text-primary">晋ICP备2025063045号</a><br>
    <span id="runtime">⏱️加载中</span>
  </div>

  <div>
    &copy;{currentYear} {profileConfig.name} /
    <a href={url('rss.xml')} target="_blank" class="text-primary">RSS</a> /
    <a href={url('sitemap-index.xml')} target="_blank" class="text-primary">Sitemap</a><br>
    Powered by <a href="https://astro.build" target="_blank" class="text-primary">Astro</a>
  </div>

  <script is:inline src="/scripts/runtime.js"></script>
</footer>